@media screen and (max-width: 768px) {
     .not_mobile {
    display:none;
    }
     #sub_nav_list{
    position: absolute;
//    border: 1px solid #fafafa;
//    width:200%;
    margin-top: 0;
    margin-left: 108px;
    padding: 7px 15px;
    z-index: 1000;
    background-color: #fff;
//    box-shadow: 3px 25px 11px rgba(0,0,0,.15);
    padding-right: 0;
  }
.worksection{
       
        img{
            height: 300px;
            width:100%;
        }
    }
}
@media screen and (min-width: 768px ) and (max-width: 1023px){
      .heading_right_full{
        .links{
            font-size: 12px !important;
             padding: 10px 15px !important;
        }
    }
}
@media only screen and (width:768px){
    #sub_nav_list{
    margin-left: 431px;
  }
}
